html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

.textAreaField {
    width: 100%;
    height: 20em;
}

.hitCounter {
    font-weight: bold;
    color: beige;
    padding: 20px;
 }

 .square {
    display: block;
    color: gainsboro;
    width: 45%;
    height: 50%;
    padding: 1em;
    margin: 0;
    float: left;
 }
 .square-log {
    width: 96%;
    box-sizing: border-box;
    margin: 1em auto;
}


 .bordered {
    border:1px solid gainsboro;
 }
 .full-width {
    width: 100%;
 }
 select {
    width: 100%;
 }
 button {
    padding: 1em;
 }

 .formRow {
    padding-top: 1em;
    
 }
 .formRow > span {
    padding: 0 1em 0 1em;
 }

input.servers {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.IPut {
    background-color: white;
    margin-right: 1em;
}

.portInput {
    width: 5em;
    height: 2.1em;
    margin-left: 1em;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 3em auto;
    visibility: hidden;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loaderContainer {
    width: 100%;
}
.clearer {
    clear:both;
}