html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

.textAreaField {
    width: 100%;
    height: 20em;
}

.hitCounter {
    font-weight: bold;
    color: beige;
    padding: 20px;
 }

 .square {
    display: block;
    color: gainsboro;
    width: 50%;
    height: 50%;
    padding: 1em;
    margin: 0;
    float: left;
 }

 .bordered {
    border:1px solid gainsboro;
 }
 .full-width {
    width: 100%;
 }
 select {
    width: 100%;
 }
 button {
    padding: 1em;
 }

 .formRow {
    padding-top: 1em;
    
 }
 .formRow > span {
    padding: 0 1em 0 1em;
 }

input.servers {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.IPut {
    background-color: white;
}

.portInput {
    width: 2em;
    height: 2.1em;
}